@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0 auto;
  max-width: 1440px;
}

/* Root styling */
.RootClass {
  margin-top: 131px;
  width: 100%;
}

.categoryId {
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  animation: scaleUp 0.5s ease-in-out;
  width: 100% !important;
  border-bottom: 1px solid gray;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@keyframes scaleUp {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.categoryId:hover {
  transform: rotate(5deg);
}
